<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home/Rymo</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="logo" id="logo">
                <img src="img\logo1.png" alt="">
            </div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#shop">Shop</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Login/Sign Up</a></li>
                <li><a href="">About us</a></li>

            </ul>

        </div>
        
    </nav>
    <section class="home" id="home">
        <div class="max-width">
            
            <img src="img\back.jpg"  id="bg" alt="g">
<div class="home-content">
   <p>Exclusive Sales</p>
   <h1>UP TO 50% OFF ON SALES</h1>
   <p>Get all  exclusive offers for the season</p>
   <!-- <marquee behavior="reverse" direction="right">BUY NOW</marquee> -->
</div>
</div>
      
    </section>

    <!-- -------------- -->
    <section class="shop" id="shop">
        <div class="max-width-shop">
            <div class="shop-container">
<h2>shop</h2>
<div class="search-box" id="search-box">
    <input type="search" name="search" id="search" placeholder=" Type here to search  "  class="fal fa-search"></div>
   <!-- <input type="button" value="search" id="search-btn"></div> -->
   <!-- -------------------------------------------- -->
   <div class="main-container">
<div class="image-container">
    <div onclick="window.location.href='/product-display'; "  target="" class="image" data-title="tshirt" >
        <img src="img\shop\1.jpg" alt=""  >

 <div class="image-content" data-title="tshirt" >
    <p>Blue T-shirt</p>
   <p>Price: Rs.400</p>
   
   <Span>S</Span>
   <span>M</span>
   <span>X</span> 
   <span>XL</span>
   <br><input onclick="window.location.href='product-display.html';" type="button" value="Buy now" class="buy-now-btn">
</div> </div></div>

    <div class="image-container">
        <div onclick="window.location.href='/pd2';" class="image" data-title="tshirt" display-name="purple" >
            <img src="img\shop\16.jpg" alt=""  >
            
    <div class="image-content" data-title="tshirt"> 
        <p>Purple T-shirt</p>
       <p>Price: Rs.400</p>
    
       <Span>S</Span>
       <span>M</span>
       <span>X</span> 
       <span>XL</span>
       <br><input type="button" value="Buy now" class="buy-now-btn">
    </div>
</div></div>

        <div class="image-container" >
            <div class="image" data-title="tshirt">
                <img src="img\shop\23.jpg" alt=""  >
        
        <div class="image-content">
            <p>Bottleguard green T-shirt</p>
           <p>Price: Rs.400</p>
           <Span>S</Span>
           <span>M</span>
           <span>X</span> 
           <span>XL</span>
           <br><input type="button" value="Buy now" class="buy-now-btn">
            </div>
        </div>
            </div>


            <div class="image-container" data-title="shoes">
                <div class="image" >
                    <img src="img\shop\2.jpg" alt=""  >
            
            <div class="image-content">
                <p>White shoes</p>
               <p>Price: Rs.600</p>
               <Span>S</Span>
               <span>M</span>
               <span>X</span> 
               <span>XL</span>
               <br><input type="button" value="Buy now" class="buy-now-btn">
            </div>  </div></div>

                <div class="image-container">
                    <div class="image" data-title="purse">
                        <img src="img\shop\3.jpg" alt=""  >
               
                <div class="image-content">
                    <p>Blue Purse</p>
                   <p>Price: Rs.300</p>
                   <!-- <Span>S</Span>
                   <span>M</span>
                   <span>X</span> 
                   <span>XL</span> -->
                   <br><input type="button" value="Buy now" class="buy-now-btn">
                </div></div></div>

                    <div class="image-container">
                        <div class="image" data-title="shoes" >
                            <img src="img\shop\4.jpg" alt="" >
                
                    <div class="image-content">
                        <p>Blue shoes</p>
                       <p>Price: Rs.800</p>
                       <Span>S</Span>
                       <span>M</span>
                       <span>X</span> 
                       <span>XL</span>
                       <br><input type="button" value="Buy now" class="buy-now-btn">
                    </div> </div></div>

                        <div class="image-container" >
                            <div class="image" data-title="cap"  >
                                <img src="img\shop\5.jpg" alt="" >
                      
                        <div class="image-content">
                            <p>white Cap</p>
                           <p>Price: Rs.300</p>
                           <Span>S</Span>
                           <span>M</span>
                           <span>X</span> 
                           <span>XL</span>
                           <br><input type="button" value="Buy now" class="buy-now-btn">
                        </div> </div></div>

                            <div class="image-container">
                                <div class="image"  data-title="jacket">
                                    <img src="img\shop\6.jpg" alt="" >
                            
                            <div class="image-content" >
                                <p>red jacket</p>
                               <p>Price: Rs.300</p>
                               <Span>S</Span>
                               <span>M</span>
                               <span>X</span> 
                               <span>XL</span>
                               <br><input type="button" value="Buy now" class="buy-now-btn">
                            </div> </div></div>

                                <div class="image-container">
                                    <div class="image" data-title="shoes">
                                        <img src="img\shop\7.jpg" alt=""  >
                                
                                <div class="image-content">
                                    <p>blue shoes</p>
                                   <p>Price: Rs.1000</p>
                                   <!-- <Span>S</Span>
                                   <span>M</span>
                                   <span>X</span> 
                                   <span>XL</span> -->
                                   <br><input type="button" value="Buy now" class="buy-now-btn">
                                </div> </div></div>

                                    <div class="image-container">
                                        <div class="image" data-title="jacket">
                                            <img src="img\shop\8.jpg" alt=""  >
                                   
                                    <div class="image-content">
                                        <p>blue jacket</p>
                                       <p>Price: Rs.1300</p>
                                       <Span>S</Span>
                                       <span>M</span>
                                       <span>X</span> 
                                       <span>XL</span>
                                       <br><input type="button" value="Buy now" class="buy-now-btn">
                                    </div> </div></div>

                                        <div class="image-container">
                                            <div class="image" data-title="tshirt">
                                                <img src="img\shop\24.jpg" alt=""  >
                                       
                                        <div class="image-content">
                                            <p>white T-shirt</p>
                                           <p>Price: Rs.300</p>
                                           <Span>S</Span>
                                           <span>M</span>
                                           <span>X</span> 
                                           <span>XL</span>
                                           <br><input type="button" value="Buy now" class="buy-now-btn">
                                        </div> </div></div>



                                        <div class="image-container">
                                            <div class="image" data-title="bag" >
                                                <img src="img\shop\9.jpg" alt="" >
                                        
                                        <div class="image-content">
                                            <p>Green bag</p>
                                           <p>Price: Rs.300</p>
                                           <Span>S</Span>
                                           <span>M</span>
                                           <span>X</span> 
                                           <span>XL</span>
                                           <br><input type="button" value="Buy now" class="buy-now-btn">
                                        </div>   </div></div>



            <div class="image-container">
                <div class="image"data-title="tshirt" >
                    <img src="img\shop\25.jpg" alt=""  >
         
            <div class="image-content">
                <p>Red T-shirt</p>
               <p>Price: Rs.200</p>
               <Span>S</Span>
               <span>M</span>
               <span>X</span> 
               <span>XL</span>
               <br><input type="button" value="Buy now" class="buy-now-btn">
            </div> </div></div>

                <div class="image-container">
                    <div class="image" data-title="tshirt">
                        <img src="img\shop\26.jpg" alt=""  >
               
                <div class="image-content">
                    <p> green T-shirt</p>
                   <p>Price: Rs.350</p>
                   <Span>S</Span>
                   <span>M</span>
                   <span>X</span> 
                   <span>XL</span>
                   <br><input type="button" value="Buy now" class="buy-now-btn">
                </div>  </div></div>

                    <div class="image-container">
                        <div class="image" data-title="tshirt" >
                            <img src="img\clothes\3.jpg" alt="" >
                   
                    <div class="image-content">
                        <p> black T-shirt</p>
                       <p>Price: Rs.400</p>
                       <Span>S</Span>
                       <span>M</span>
                       <span>X</span> 
                       <span>XL</span>
                       <br><input type="button" value="Buy now" class="buy-now-btn">
                    </div>   </div></div>

                        <div class="image-container">
                            <div class="image" data-title="watch" >
                                <img src="img\watches\2.jpg" alt="" >
                        
                        <div class="image-content">
                            <p> watch</p>
                           <p>Price: Rs.400</p>
                           
                           <br><input type="button" value="Buy now" class="buy-now-btn">
                        </div> </div></div>




                    <div class="image-container">
                        <div class="image"  data-title="watch">
                            <img src="img\shop\10.jpg" alt="" >
                    
                    <div class="image-content">
                        <p>watch</p>
                       <p>Price: Rs.700</p>
                     
                       <!-- <Span>S</Span>
                       <span>M</span>
                       <span>X</span> 
                       <span>XL</span> -->
                       <br><input type="button" value="Buy now" class="buy-now-btn">
                    </div> </div></div>

                        <div class="image-container">
                            <div class="image" data-title="cap">
                                <img src="img\shop\11.jpg" alt=""  >
                    
                        <div class="image-content">
                            <p>Blue cap</p>
                           <p>Price: Rs.300</p>
                       
                           <Span>S</Span>
                           <span>M</span>
                           <span>X</span> 
                           <span>XL</span>
                           <br><input type="button" value="Buy now" class="buy-now-btn">
                        </div>  </div></div>

                            <div class="image-container">
                                <div class="image"  data-title="shoes" >
                                    <img src="img\shop\12.jpg" alt="">
                            
                            <div class="image-content">
                                <p>White Shoes</p>
                               <p>Price: Rs.300</p>
                            
                               <Span>S</Span>
                               <span>M</span>
                               <span>X</span> 
                               <span>XL</span>
                               <br><input type="button" value="Buy now" class="buy-now-btn">
                            </div>  </div></div>

                                <div class="image-container">
                                    <div class="image" data-title="jacket">
                                        <img src="img\shop\19.jpg" alt=""  >
                              
                                <div class="image-content">
                                    <p>black jacket</p>
                                   <p>Price: Rs.8000</p>
                                
                                   <Span>S</Span>
                                   <span>M</span>
                                   <span>X</span> 
                                   <span>XL</span>
                                   <br><input type="button" value="Buy now" class="buy-now-btn">
                                </div> </div></div>

               <!-- ----      -->
                <div class="image-container">
                    <div class="image" data-title="tshirt">
                        <img src="img\shop\24.jpg" alt=""  >
               
                <div class="image-content">
                    <p>white T-shirt</p>
                   <p>Price: Rs.300</p>
                   <Span>S</Span>
                   <span>M</span>
                   <span>X</span> 
                   <span>XL</span>
                   <br><input type="button" value="Buy now" class="buy-now-btn">
                </div></div></div>
<!-- ----- -->

</div> 
           
                    <!-- --- -->
<!-- ------------------------------------- -->
</div> 
            
</div></div>
    </section>
    <!-- ---------- -->
    <section class="about">
        <div class="max-width">
            <div class="about-container">
                <h2>about</h2>
                <div class="abt">
                <img src="img/g.png"  alt=""></div>


                
                   
                
                  
              
                            </div>
            
        </div>
    </section>


    <section>
        <div class="max-width-footer">
            <div class="main-footer">
            <div class="left">
                ABOUT
                Contact Us
                About Us
                Careers
                Flipkart Stories
                Press
                Flipkart Wholesale
                Corporate Information
            </div>
            <div class="left">
    HELP
    Payments
    Shipping
    Cancellation & Returns
    FAQ
    Report Infringement
            </div>
    <div class="left">
        POLICY
    Return Policy
    Terms Of Use
    Security
    Privacy
    Sitemap
    EPR Compliance
    </div>
    <div class="left">
        SOCIAL
    Facebook
    Twitter
    YouTube
    </div>
    <div class="left">
        Mail Us:
    Flipkart Internet Private Limited,
    
    Buildings Alyssa, Begonia &
    
    Clove Embassy Tech Village,
    
    Outer Ring Road, Devarabeesanahalli Village,
    
    Bengaluru, 560103,
    
    Karnataka, India
    </div>
    <div class="left">
        Mail Us:
    Flipkart Internet Private Limited,
    
    Buildings Alyssa, Begonia &
    
    Clove Embassy Tech Village,
    
    Outer Ring Road, Devarabeesanahalli Village,
    
    Bengaluru, 560103,
    
    Karnataka, India
    </div>
    
    <div class="left">
        Mail Us:
    Flipkart Internet Private Limited,
    
    Buildings Alyssa, Begonia &
    
    Clove Embassy Tech Village,
    
    Outer Ring Road, Devarabeesanahalli Village,
    
    Bengaluru, 560103,
    
    Karnataka, India
    </div>
    
    
    <div class="left">
        Registered Office Address:
    Flipkart Internet Private Limited,
    
    Buildings Alyssa, Begonia &
    
    Clove Embassy Tech Village,
    
    Outer Ring Road, Devarabeesanahalli Village,
    
    Bengaluru, 560103,
    
    Karnataka, India
    
    CIN : U51109KA2012PTC066107
    
    Telephone: 1800 202 9898
    </div>
    
    </div>
    <hr>
    <div class="bottom">
        <div class="bot-text">
            
                POLICY
            Return Policy
            Terms Of Use
            Security
            Privacy
            Sitemap
            EPR Compliance
          
    Sell On Rymo
    Advertise
    Gift Cards
    Help Center
    © 2022 Rymo.com
    </div>
    <div class="bot-text">
        <img src="img\brand\1.png" alt="">
            
        POLICY
    Return Policy
    Terms Of Use
    Security
    Privacy
    Sitemap
    EPR Compliance
    
    
    </div>
    
    <div class="bot-text">
            <img src="img\payment.png" alt="">
        POLICY
    Return Policy
    
    Security
    Privacy
    Sitemap
    EPR Compliance
    
    Sell On Rymo
    Advertise
    Gift Cards
    
    </div>
    <div class="bot-text">
            
    
    Terms Of Use
    Security
    Privacy
    Sitemap
    EPR Compliance
    
    
    </div>
    </div>
    <div class="ls-bt">
        <p>© 2022 Rymo.com</p>
    </div>
        
    </div>
    </section>

     <script >
         let searchbox=document.querySelector('#search');
let image=document.querySelectorAll(' .main-container  .image-container .image ');

searchbox.oninput=()=>{
    image.forEach(hide=>hide.style.display='none');
    let value =searchbox.value;
    image.forEach(filter=>{
        let title=filter.getAttribute('data-title');
        if(value==title){
            filter.style.display='block'
        }
        if (searchbox.value=="") {
            filter.style.display='block';
        }
    });
};

     </script>
</body>
</html>