<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product details </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="logo" id="logo">
                <img src="img\logo1.png" alt="">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#shop">Shop</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="">Login/Sign Up</a></li>
                <li><a href="">About us</a></li>

            </ul>

        </div>
        
    </nav>

<section class="product-display" id="prouct-display">
    <div class="max-width-display">

        <div class="display-main-container">
            <div class="main-item" id="main-item">
                <img src="img\shop\1.jpg" alt="" id="bigimage">
            </div>

            <div class="display-content">
                <h3>Blue Tshirt</h3>
                <h4>Price:₹ 400</h4>
                <h5>⭐⭐⭐⭐⭐</h5>
                <select name="size" id="size">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                
               
                <h5> Product details</h5>
                <p class="dd">The Gilan Ultra Cotton T-shirt is made from a substantial 6.0 oz.per sq. yd. fabric constructed from 100% cotton ,this classic fit preshrunk jersey knit provide unmatched comfort with each wear . Featuring a taped neck and shoulder,and a seamless double-needle collar and available in a range of colors,it offers it all in the ultimate hea-turning package. </p>
                <select name="item-no" id="item-no">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>

                </select>
                <input type="button" value="ADD TO CART" id="add-to-cart-btn">
            </div>

            <!-- ----------- -->
            <div class="small-img-main-c">
            <div class="small-image" id="small-image">
                <img src="img\shop\26.jpg" alt="" class="smallimg-change">
            </div>
            <div class="small-image" id="small-image">
                <img src="img\shop\25.jpg" alt="" class="smallimg-change">
            </div>
            <div class="small-image" id="small-image">
                <img src="img\shop\24.jpg" alt="" class="smallimg-change">
            </div>
            <div class="small-image" id="small-image">
                <img src="img\shop\1.jpg" alt="" class="smallimg-change">
            </div>
            
        </div>
            <!-- -----------  -->
            <!-- <div class="display-content">
                <h3>Blue Tshirt</h3>
                <p>Price: 400</p>
                <p>⭐⭐⭐⭐⭐</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus vero necessitatibus, voluptates nam assumenda iusto obcaecati debitis voluptatum dicta tenetur ipsam doloremque. Tempora laboriosam vero, repellat vitae porro rerum recusandae?</p>
            </div> -->


        </div>


    </div>

</section>



    <section class="shop" id="shop">
        <div class="max-width-shop-display">
            <div class="shop-container">
<h2>Related Products</h2>
<!-- <p>Related searchs</p> -->
<!-- <div class="search-box" id="search-box">
    <input type="search" name="search" id="search" placeholder=" Type here to search  "  class="fal fa-search"></div> --> 
   <!-- <input type="button" value="search" id="search-btn"></div> -->
   <!-- -------------------------------------------- -->
   <div class="main-containerr">
<div class="image-containerr">
    <div class="image" data-title="tshirt" >
        <img src="img\shop\1.jpg" alt=""  >

 <div class="image-contentt" data-title="tshirt" >
    <p>Blue T-shirt</p>
   <p>Price: Rs.400</p>
   
   <Span>S</Span>
   <span>M</span>
   <span>X</span> 
   <span>XL</span>
   <br><input type="button" value="Buy now" class="buy-now-btn">
</div> </div></div>

    <div class="image-containerr">
        <div onclick="window.location.href='/pd2';" class="image" data-title="tshirt" display-name="purple" >
            <img src="img\shop\16.jpg" alt=""  >
            
    <div class="image-contentt" data-title="tshirt"> 
        <p>Purple T-shirt</p>
       <p>Price: Rs.400</p>
    
       <Span>S</Span>
       <span>M</span>
       <span>X</span> 
       <span>XL</span>
       <br><input type="button" value="Buy now" class="buy-now-btn">
    </div>
</div></div>

        <div class="image-containerr" >
            <div class="image" data-title="tshirt">
                <img src="img\shop\23.jpg" alt=""  >
        
        <div class="image-contentt">
            <p>Bottleguard green T-shirt</p>
           <p>Price: Rs.400</p>
           <Span>S</Span>
           <span>M</span>
           <span>X</span> 
           <span>XL</span>
           <br><input type="button" value="Buy now" class="buy-now-btn">
            </div>
        </div>
            </div>


            <div class="image-containerr">
                <div class="image" data-title="tshirt" display-name="purple" >
                    <img src="img\shop\21.jpg" alt=""  >
                    
            <div class="image-contentt" data-title="tshirt"> 
                <p>Purple T-shirt</p>
               <p>Price: Rs.400</p>
            
               <Span>S</Span>
               <span>M</span>
               <span>X</span> 
               <span>XL</span>
               <br><input type="button" value="Buy now" class="buy-now-btn">
            </div>
        </div></div>

        <div class="brand">
<img src="img\brand\1.png" alt="">
<img src="img\brand\2.webp" alt="">
<img src="img\brand\3.png" alt="">
<img src="img\brand\4.webp" alt="">
<img src="img\brand\5.png" alt="">
        </div>

</div>
</section>

<section>
    <div class="max-width-footer">
        <div class="main-footer">
        <div class="left">
            ABOUT
            Contact Us
            About Us
            Careers
            Flipkart Stories
            Press
            Flipkart Wholesale
            Corporate Information
        </div>
        <div class="left">
HELP
Payments
Shipping
Cancellation & Returns
FAQ
Report Infringement
        </div>
<div class="left">
    POLICY
Return Policy
Terms Of Use
Security
Privacy
Sitemap
EPR Compliance
</div>
<div class="left">
    SOCIAL
Facebook
Twitter
YouTube
</div>
<div class="left">
    Mail Us:
Flipkart Internet Private Limited,

Buildings Alyssa, Begonia &

Clove Embassy Tech Village,

Outer Ring Road, Devarabeesanahalli Village,

Bengaluru, 560103,

Karnataka, India
</div>
<div class="left">
    Mail Us:
Flipkart Internet Private Limited,

Buildings Alyssa, Begonia &

Clove Embassy Tech Village,

Outer Ring Road, Devarabeesanahalli Village,

Bengaluru, 560103,

Karnataka, India
</div>

<div class="left">
    Mail Us:
Flipkart Internet Private Limited,

Buildings Alyssa, Begonia &

Clove Embassy Tech Village,

Outer Ring Road, Devarabeesanahalli Village,

Bengaluru, 560103,

Karnataka, India
</div>


<div class="left">
    Registered Office Address:
Flipkart Internet Private Limited,

Buildings Alyssa, Begonia &

Clove Embassy Tech Village,

Outer Ring Road, Devarabeesanahalli Village,

Bengaluru, 560103,

Karnataka, India

CIN : U51109KA2012PTC066107

Telephone: 1800 202 9898
</div>

</div>
<hr>
<div class="bottom">
    <div class="bot-text">
        
            POLICY
        Return Policy
        Terms Of Use
        Security
        Privacy
        Sitemap
        EPR Compliance
      
Sell On Rymo
Advertise
Gift Cards
Help Center
© 2022 Rymo.com
</div>
<div class="bot-text">
    <img src="img\brand\1.png" alt="">
        
    POLICY
Return Policy
Terms Of Use
Security
Privacy
Sitemap
EPR Compliance


</div>

<div class="bot-text">
        <img src="img\payment.png" alt="">
    POLICY
Return Policy

Security
Privacy
Sitemap
EPR Compliance

Sell On Rymo
Advertise
Gift Cards

</div>
<div class="bot-text">
        

Terms Of Use
Security
Privacy
Sitemap
EPR Compliance


</div>
</div>
<div class="ls-bt">
    <p>© 2022 Rymo.com</p>
</div>
    
</div>
</section>



    
<script>
    
 var bigimage=document.getElementById('bigimage');
var smallimage=document.getElementsByClassName('smallimg-change');

smallimage[0].onclick=function(){
    bigimage.src=smallimage[0].src;
}
smallimage[1].onclick=function(){
    bigimage.src=smallimage[1].src;
}

smallimage[2].onclick=function(){
    bigimage.src=smallimage[2].src;
}

smallimage[3].onclick=function(){
    bigimage.src=smallimage[3].src;
}   

</script>

</body>


</html>